<div class="modal-header">
    <h4 class="modal-title pull-left"> {{title}} </h4>
    <!-- (click)="modalRef?.hide()" -->
    <button type="button" class="btn-close close pull-right" aria-label="Close" >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <form [formGroup]="myForm1">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="">ID</label>
                    <input formControlName="idRol" type="text" class="form-control" placeholder="Ingrese el Identificador">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="">Codigo</label>
                    <input formControlName="codigo" type="text" class="form-control" placeholder="Ingrese el Codigo">
                </div>
                <div *ngIf="myForm1.get('codigo')?.errors &&  myForm1.touched ">
                    <small class="text-danger" *ngIf="myForm1.get('codigo')?.hasError('required')">Campo Requerido</small>
                  
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="">Descripcion del Rol</label>
                    <input formControlName="descripcionRol" type="text" class="form-control" placeholder="Ingrese el nombre del rol">
                </div>
                <div *ngIf="myForm1.get('descripcionRol')?.errors && myForm1.touched">
                    <small class="text-danger" *ngIf="myForm1.get('descripcionRol')?.hasError('required')">Campo Requerido</small>
                    
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="">Funcion del Rol</label>
                    <input formControlName="descripcionRol" type="text" class="form-control" placeholder="Ingrese el nombre del rol">
                </div>
                <div *ngIf="myForm1.get('descripcionRol')?.errors && myForm1.touched">
                    <small class="text-danger" *ngIf="myForm1.get('descripcionRol')?.hasError('required')">Campo Requerido</small>
                    
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="">Estado</label>
                    <select formControlName="idEstado" class="form-select">
                        <option value = true>Activo</option>
                        <option value = false>Inactivo</option>
                    </select>
                    
                </div>
            </div>
            
                <div class="col-6 mt-3">
                    <div class="d-grid gap-2">
                        <button [disabled]="myForm1.invalid" (click)="guardar()" class="btn-block btn btn-primary btn/sm">Guardar</button>
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="d-grid gap-2">
                    <button class="btn-block btn btn-danger btn/sm">Cancelar</button>
                </div>
            </div>
        </div>
    </form>
  </div>