<div class="nav">
    <div class="sb-sidenav-menu-heading">Core</div>
    <a class="nav-link" href="#">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        Pagina principal
    </a>
    <div class="sb-sidenav-menu-heading">Interface</div>
    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
        aria-expanded="false" aria-controls="collapseLayouts">
        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
        Mantenimiento
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" [routerLink]="['mantenimiento/cargo']"> <i class="fas fa-edit"></i> Cargo </a>
            <a class="nav-link" [routerLink]="['mantenimiento/rol']"> <i class="fas fa-edit"></i> Rol </a>
            <a class="nav-link" [routerLink]="['mantenimiento/persona']"> <i class="fas fa-edit"></i> Persona </a>
        </nav>
    </div>
 
    <div *ngFor="let d of menu">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#' + d.target"

            aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="{{d.icon}}"></i></div>
            {{d.name}}
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div *ngFor="let x of d.subMenu" class="collapse" id="{{d.target}}" aria-labelledby="headingOne"
            data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" [routerLink]="[x.url]"> <i class="{{x.icon}}"></i> &nbsp; {{x.name}} 
                </a>
            </nav>
        </div>
    </div>
</div>
